
@{
    ViewBag.Title = "License";
}
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
        <li class="breadcrumb-item"><a href="~/Doctor/Personal">Doctor Sign-Up</a></li>
        <li class="breadcrumb-item active" aria-current="page">License</li>
    </ol>
</nav>


<h2>Licenses</h2>

<script language="JavaScript">
    function showInput() {
        document.getElementById('display').innerHTML =
                    document.getElementById("user_input").value;
    }
</script>
 
    <form action="/action_page.php">
        Please upload a picture of your Medical License
        and Enter the Expiration Date:<br /><br />
        <input type="file" name="med_license">
        <input type="date" name="med_lic_exp"><br /><br /><br />

        Please upload a picture of your DEA Certificate 
        and Enter the Expiration Date:<br /><br />
        <input type="file" name="DEA_cer">
        <input type="date" name="dea_cer_ex"><br /><br /><br />
    
        Please upload a picture of your State Board of Pharmacy Controlled 
        Substance Certificate and Enter the Expiration Date:<br /><br />
        <input type="file" name="pharm">       
        <input type="date" name="pharm_ex"><br /><br /><br />

        Please upload a picture of your Board Certification Certificate
        and Enter the Expiration Date:<br /><br />
        <input type="file" name="board_cer">
        <input type="date" name="board_cer_ex"><br /><br /><br />

        Please upload a picture of your Hosiptal Privilege Confirmation Letter
        and Enter the Expiration Date:<br /><br />
        <input type="file" name="priv_cer">
        <input type="date" name="priv_ex"><br /><br /><br />

        Please upload a picture of your CLIA Certificate
        and Enter the Expiration Date:<br /><br />
        <input type="file" name="clia_cer">
        <input type="date" name="clia_cer_ex"><br /><br /><br />

        Please upload a picture of your Professional Lability Insureance Declaration Page
        and Enter the Expiration Date:<br /><br />
        <input type="file" name="lability_cer">
        <input type="date" name="lability_ex"><br /><br /><br />

        Please upload a picture of your Business Lincense for your practice location
        and Enter the Expiration Date:<br /><br />
        <input type="file" name="location_cer">
        <input type="date" name="location_ex"><br /><br /><br />

        Please upload a picture of your Driver's License and Enter the Expiration Date:<br /><br />
        <input type="file" name="driver_cer">
        <input type="date" name="driver_ex"><br /><br /><br />

    </form>

<p><a class="btn btn-primary" href="~/Home/Index">Submit</a></p>

