@{
    ViewBag.Title = "CHMB";
}

<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Home">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">About</li>
    </ol>
</nav>


<img src="~/Content/Imgaes/CHMB_Logo.jpg" />
<h1 style="text-align:center">20+ YEARS </h1>
<h1 style="text-align:center">of Business and Technology</h1>
<h1 style="text-align:center">Services for Healthcare</h1>

<div class="fusion-fullwidth fullwidth-box nonhundred-percent-fullwidth" style="background-color: no;background-position: left top;background-repeat: no-repeat;padding-top:30px;padding-right:0px;padding-bottom:30px;padding-left:0px;border-top-width:0px;border-bottom-width:0px;border-color:#eae9e9;border-top-style:solid;border-bottom-style:solid;">
    <div class="fusion-builder-row fusion-row ">
        <div class="fusion-layout-column fusion_builder_column fusion_builder_column_1_1  fusion-one-full fusion-column-first fusion-column-last fusion-column-no-min-height 1_1" style="margin-top:0px;margin-bottom:0px;">
            <div class="fusion-column-wrapper" style="background-position:left top;background-repeat:no-repeat;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;" data-bg-url="">
                <p>For the past 22 years, CHMB has worked&nbsp;with providers and health systems nationally to successfully manage the revenue cycle while&nbsp;<strong>maximizing reimbursements, reducing costs and increasing cash flow</strong>. Today, more than 11,00 physicians encompassing 45+ different medical specialties rely on CHMB for their experience in delivering proven solutions to improve practice profitability and optimize healthcare technology investments.</p>
                <p>Committed to staying one step ahead of the rapidly changing healthcare industry, CHMB has adopted a&nbsp;<strong>flexible, modular delivery strategy, enabling clients to customize&nbsp; solutions configured for their specific internal processes</strong>&nbsp;to ensure the best results.</p>
                <div class="fusion-clearfix"></div>

            </div>
        </div>
    </div>
</div>









